

{% block extera_head %}
    <link rel="stylesheet" href={{ url_for('static',filename='home.css') }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% endblock %}
{% block main %}

<div class="container">
<header>
<a href="#" class="logo"><br>coffee sharif</a>
</header>
<div class="banner">
    <video SRC={{ url_for('static',filename='CAfevideo.mp4') }} muted autoplay loop type="mp4"></video>
    <div class="textBox">
        <h2>In the heart of Tehran</h2><br>
        <p> A gallery, café and lounge in the heart of Toronto’s creative downtown<br>
            <br>Experience the best with us
        </p><br>
        <a href="#">RESERV ONLINE </a>
    </div>
    <div class="videoBx">
        <video SRC={{ url_for('static',filename='CAfevideo.mp4') }} muted autoplay loop type="mp4"></video>
    </div>
    <ul class="sci">
        <li><a href="#"><img src={{ url_for('static',filename='facebook.png') }}></a></li>
        <li><a href="#"><img src={{ url_for('static',filename='twitter.png') }}></a> </li>
        <li><a href="#"><img src={{ url_for('static',filename='instagram.png') }}></a> </li>

    </ul>
</div>
</div>
{% endblock %}

