


{% block extera_head %}
<link href={{ url_for('static',filename='landing_order_list.css') }} rel="stylesheet">
{% endblock %}




{% block main %}
    <div class="row order_box">
        <div class="col-5">Cafe</div>
        <div class="col-1">2x</div>
        <div class="col-5">wating for cooking</div>
        <div class="col-1">
            <button class="laghv_btn"><h4>X</h4></button>
        </div>

    </div>
    <div class="row order_box">
        <div class="col-5">Cafe</div>
        <div class="col-1">2x</div>
        <div class="col-5">wating for cooking</div>
        <div class="col-1">
            <button class="laghv_btn"><h4>X</h4></button>
        </div>

    </div>
    <div class="row order_box">
        <div class="col-5">Cafe</div>
        <div class="col-1">2x</div>
        <div class="col-5">wating for cooking</div>
        <div class="col-1">
            <button class="laghv_btn"><h4>X</h4></button>
        </div>

    </div>
    <div class="row order_box">
        <div class="col-5">Cafe</div>
        <div class="col-1">2x</div>
        <div class="col-5">wating for cooking</div>
        <div class="col-1">
            <button class="laghv_btn"><h4>X</h4></button>
        </div>

    </div>

{% endblock %}
