<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/landing_order_list.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row" style="min-height: 1000px; background-color: white; border: solid black; border-radius: 10px;">
        <div class="row order_box">
            <div class="row"><h3 style="text-align: center">Add Category</h3></div>
            <div class="col-5">
                <input type="text" placeholder="Category Name" id="ctn">
            </div>
            <div class="col-1"></div>
            <div class="col-5"></div>
            <div class="col-1"><button class="btn btn-dark" style="height: 30px; text-align: center">Add</button></div>
        </div>
        <div class="row order_box" style="height: 200px">
            <div class="row"><h3 style="text-align: center">Category Name</h3></div>
            <div class="col-4">
                <input type="text" id="item_name">
            </div>
            <div class="col-4">
                <select>
                    <option></option>
                    <option>Coffee</option>
                </select>
            </div>
            <div class="col-5">wating for cooking</div>
            <div class="col-1"><button class="laghv_btn"><h4>X</h4></button></div>
        </div>
    </div>
</div>
</body>
</html>